* {
  padding: 0px;
  margin: 0px; }

header .navbar-custom .elementos .collapse.navbar-collapse .menu li .subMenu li a, header .navbar-custom .elementos .collapse.navbar-collapse .menu > li > a {
  border-radius: 7px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

body {
  background: linear-gradient(0deg, #020024 0%, #012d81 30%, #020024 100%); }

header {
  grid-area: header;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background: linear-gradient(0deg, #020024 0%, #012d81 100%); }
  header .nombreSitio {
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px; }
    header .nombreSitio a {
      text-align: center;
      text-decoration: none;
      margin-bottom: 20px;
      font-size: 65px;
      color: #2c48c8;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-weight: bold; }
  header .navbar-custom {
    background: linear-gradient(0deg, #020024 0%, #012d81 100%); }
    header .navbar-custom .elementos {
      display: flex; }
      header .navbar-custom .elementos .navbar-toggler {
        margin-bottom: 10px; }
      header .navbar-custom .elementos .collapse.navbar-collapse .menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-top: 15px;
        padding-bottom: 5px; }
        header .navbar-custom .elementos .collapse.navbar-collapse .menu li:hover .subMenu {
          display: flex;
          flex-direction: column;
          align-items: center; }
        header .navbar-custom .elementos .collapse.navbar-collapse .menu li .subMenu {
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          width: 15.5%;
          padding-left: 0;
          padding-top: 5px;
          background-color: #7094e7;
          border-radius: 7px;
          display: none; }
          header .navbar-custom .elementos .collapse.navbar-collapse .menu li .subMenu li {
            margin-bottom: 5px; }
            header .navbar-custom .elementos .collapse.navbar-collapse .menu li .subMenu li a {
              padding: 9px 8px;
              color: #343492;
              font-size: 18px; }
            header .navbar-custom .elementos .collapse.navbar-collapse .menu li .subMenu li:hover a {
              background-color: #2159c2;
              transition: 0.3s; }
        header .navbar-custom .elementos .collapse.navbar-collapse .menu > li > a {
          padding: 10px;
          color: #4f4fd6;
          font-size: 15px;
          background-color: black;
          display: block;
          margin-right: 20px;
          text-transform: uppercase; }
        header .navbar-custom .elementos .collapse.navbar-collapse .menu > li:hover > a {
          background-color: #012d7e;
          transition: 0.3s; }

main {
  width: auto;
  grid-area: main;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-content: center; }
  main .titulo {
    color: #1c3ac2;
    text-align: center;
    font-size: 45px;
    margin: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  main h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #3636d6;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  main img {
    display: block;
    margin: 20px auto; }

footer {
  grid-area: footer;
  color: white;
  width: 100%;
  margin-top: 150px;
  padding-top: 10px;
  text-align: center;
  border-top: solid; }
  footer p {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 10px; }

/* media queries */
/* para tablet */
main .marcas .row a {
  text-decoration: none;
  color: #7094e7;
  font-weight: bold;
  font-style: italic;
  display: block;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  main .marcas .row a:hover {
    transform: scale(1.1);
    transition: 0.2s; }

main .marcas .row .marca {
  width: 400px;
  height: 400px; }

main .video {
  width: 600px; }

main iframe {
  display: block;
  margin: 0px auto;
  width: 600px;
  height: 360px; }

main .redes {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .redes h3 {
    color: white; }
  main .redes .logo {
    display: flex; }
    main .redes .logo a img {
      margin-top: 20px;
      width: 50px;
      height: 50px; }
    main .redes .logo a .facebook {
      margin-left: 30px; }
    main .redes .logo a:hover {
      transform: scale(1.1);
      transition: 0.2s; }

main .textoNosotros {
  text-align: center;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px; }
  main .textoNosotros p {
    color: #7094e7; }

main .presentacion {
  margin-top: 100px; }

main .marcas .row .col .mod {
  width: 400px; }

main .direccion {
  color: #7094e7;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

main .mapa {
  width: 600px;
  height: 550px; }

main .formulario {
  width: auto;
  display: flex;
  justify-content: center; }
  main .formulario form fieldset legend {
    margin-bottom: 30px;
    padding: 5px;
    color: #7094e7;
    font-size: 20px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  main .formulario form fieldset div label {
    color: #7094e7;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 15px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  main .formulario form fieldset div input {
    padding: 5px;
    background-color: black;
    color: #7094e7;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  main .formulario form fieldset div .completar {
    width: 200px; }
  main .formulario form fieldset div .pais {
    color: #7094e7;
    background-color: black;
    border-radius: 10px;
    padding: 3px; }
  main .formulario form fieldset div p {
    color: #7094e7;
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  main .formulario form fieldset div textarea {
    width: 250px;
    height: 150px;
    text-align: start;
    margin-left: 50px;
    padding-left: 15px; }
  main .formulario form fieldset .final {
    margin-left: 50px;
    margin-bottom: 10px; }

/* media queries */
/* para tablet */
@media screen and (max-width: 992px) {
  header .nombreSitio {
    margin-right: 0px; }
    header .nombreSitio a {
      font-size: 50px; }
  header .navbar-custom .elementos .collapse.navbar-collapse .menu {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px; }
    header .navbar-custom .elementos .collapse.navbar-collapse .menu > li > a {
      font-size: 10px;
      text-align: center;
      padding: 5px;
      margin: 5px; }
    header .navbar-custom .elementos .collapse.navbar-collapse .menu li .subMenu {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%; }
      header .navbar-custom .elementos .collapse.navbar-collapse .menu li .subMenu li a {
        font-size: 12px; }
  main {
    padding-top: 120px; }
    main .marcas .row .marca {
      width: 320px;
      height: 320px; }
    main .marcas .row .col .mod {
      width: 320px; }
    main iframe {
      display: block;
      margin: 0px auto;
      width: 400px;
      height: 240px; }
    main .textoNosotros {
      margin-top: 20px; }
      main .textoNosotros p {
        font-size: 15px; }
    main .mapa {
      width: 400px;
      height: 380px; }
    main .formulario form fieldset legend {
      font-size: 15px; }
    main .formulario form fieldset div label {
      font-size: 10px; }
    main .formulario form fieldset div .pais {
      font-size: 10px; }
    main .formulario form fieldset div input {
      font-size: 10px; }
    main .formulario form fieldset div p {
      font-size: 10px; }
  footer {
    margin-top: 80px; } }

/* para mobile */
@media screen and (max-width: 768px) {
  header .nombreSitio {
    margin-left: 0;
    padding-bottom: 10px; }
    header .nombreSitio a {
      font-size: 40px; }
  header .navbar-custom .elementos .navbar-toggler {
    margin-bottom: 0px;
    transform: scale(0.8); }
    header .navbar-custom .elementos .navbar-toggler .navbar-toggler-icon {
      transform: scale(0.8); }
  header .navbar-custom .elementos .collapse.navbar-collapse .menu {
    display: flex;
    flex-direction: column; }
    header .navbar-custom .elementos .collapse.navbar-collapse .menu > li > a {
      font-size: 10px;
      text-align: center; }
    header .navbar-custom .elementos .collapse.navbar-collapse .menu li .subMenu li a {
      font-size: 10px; }
  main {
    padding-top: 80px; }
    main .titulo {
      font-size: 25px; }
    main .marcas .row a {
      font-size: 12px;
      padding-top: 30px; }
    main .marcas .row .marca {
      width: 200px;
      height: 200px; }
    main .marcas .row .col .mod {
      width: 200px; }
    main .mapa {
      width: 250px;
      height: 240px; }
    main h2 {
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 15px; }
    main .presentacion {
      margin-top: 40px; }
    main iframe {
      width: 250px;
      height: 150px; }
    main .redes h3 {
      font-size: 17px; }
    main .redes .logo a img {
      width: 30px;
      height: 30px; }
    main .textoNosotros {
      margin-left: 50px;
      margin-right: 50px; }
    main .direccion {
      font-size: 15px; }
  .formulario form fieldset .final {
    margin-left: 10px;
    margin-bottom: 10px; } }
