/* reset */

*{
    padding: 0px;
    margin: 0px;
}

/* color de fondo del body */

body{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, #012d81 30%, rgba(2,0,36,1) 100%);
}

/* grid layout */
.contenedor{
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

/* estilos del header */
header{
    grid-area: header;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, #012d81 100%);
}

.navbar-custom{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, #012d81 100%);
}

.elementos{
    display: flex;

}
.nombreSitio{
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.nombreSitio a{    
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 65px;
    color: rgb(44, 72, 200);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.navbar-toggler{
    margin-bottom: 10px;
}

.menu{
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu > li > a{
    color: rgb(79, 79, 214);
    background-color: black;
    display: block;
    padding: 10px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 7px;
}

.menu > li:hover > a{
    background-color: #012d81;
    transition: 0.3s;
}

.subMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 5px;
    list-style: none;
    display: none;
    position: absolute;
    background-color: rgb(111, 150, 255);
    border-radius: 10px;
}

.subMenu li{
    margin-bottom: 5px;
}

.subMenu li a{
    border-radius: 10px;
    padding: 8px 17px;
    color: rgb(52, 52, 146);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subMenu li:hover a{
    background-color: #2159c2;
    transition: 0.3s;
}

.menu li:hover .subMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* estilos del main */
main{
    width: auto;
    grid-area: main;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.titulo{
    color: rgb(28, 58, 194);
    text-align: center;
    font-size: 45px;
    margin: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main a{
    text-decoration: none;
    color: rgb(112, 148, 231);
    font-weight: bold;
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 25px; 
    padding-top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.marcas a:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

main img{
    display: block;
    margin: 20px auto;
    width: 400px;
    height: 240px;
}

.textoNosotros{
    margin-top: 50px;
    margin-bottom: 300px;
    margin-left: 150px;
    margin-right: 150px;
}

.textoNosotros p{
    padding-bottom: 50px;
    color: rgb(112, 148, 231);
}

h2{
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 30px;
    color: rgb(54, 54, 214);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.presentacion{
    margin-top: 150px;
}

iframe{
    display: block;
    margin: 0px auto;
    width: 600px;
    height: 360px;
}

.redes{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.redes img{
    margin-top: 40px;
    width: 50px;
    height: 50px;
}

.facebook{
    margin-left: 30px;
}

.redes a:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.textoNosotros{
    text-align: center;
}

.direccion{
    color: rgb(88, 115, 238);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formulario{
    width: auto;
    display: flex;
    justify-content: center;
}

legend{
    margin-bottom: 30px;
    padding: 5px;
    color: rgb(88, 115, 238);
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    color: rgb(88, 115, 238);
    font-size: 15px;
    margin-left: 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.completar{
    width: 200px;
}

.pais{
    color: rgb(88, 115, 238);
    background-color: black;
    border-radius: 10px;
    padding: 3px;
}

input{
    font-size: 15px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div p{
    color: rgb(88, 115, 238);
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea{
    width: 250px;
    height: 150px;
    text-align: start;
    margin-left: 50px;
    padding-left: 15px;
}

div input{
    padding: 5px;
    background-color: black;
    color: rgb(88, 115, 238);
    border-radius: 10px;
}

.final{
    margin-left: 50px;
    margin-bottom: 10px;
}

/* estilos de footer */
footer{
    grid-area: footer;
    color: white;
    width: 100%;
    margin-top: 150px;
    padding-top: 10px;
    text-align: center;
    border-top: solid;
}

footer p{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}


/* media queries */

/* para tablet */
@media screen and (max-width: 992px) {
    /* estilos del header */
    .nombreSitio{
        margin-right: 0px;
    }

    .nombreSitio a{
        font-size: 50px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .menu > li > a{
        font-size: 10px;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }

    .subMenu{
        position: relative;
        display: flex;
        flex-direction: column;
        
    }

    .subMenu li a{
        font-size: 12px;  
    }

    /* estilos del main */
    main{
        padding-top: 120px;
    }

    main img{
        width: 320px;
        height: 192px;
    }

    iframe{
        display: block;
        margin: 0px auto;
        width: 320px;
        height: 192px;
    }

    .autos a{
        font-size: 15px;
    }

    .fotos{
        width: 150px;
        height: 90px;
    }

    legend{
        font-size: 15px;
    }

    label{
        font-size: 10px;
    }
    
    .pais{
        font-size: 10px;
    }

    input{
        font-size: 10px;
    }

    div p{
        font-size: 10px;
        }

    /* estilos de footer */
    footer{
        margin-top: 80px;
    }
}

/* para mobile */
@media screen and (max-width: 768px) {
    /* estilos del header */
    .nombreSitio{
        margin-left: 0;
        padding-bottom: 10px;
    }

    .nombreSitio a{
        font-size: 30px;
    }

    .navbar-toggler{
        margin-bottom: 0px;
    }

    .navbar-toggler{
        transform: scale(0.8);
    }

    .navbar-toggler-icon{
        transform: scale(0.8);
    }

    .menu{
        display: flex;
        flex-direction: column;
    }

    .menu > li > a{
        font-size: 7px;
        text-align: center;
    }

    .subMenu li a{
        font-size: 7px;  
    }

    /* estilos del main */
    main{
        padding-top: 80px;
    }

    .titulo{
        font-size: 25px;
    }

    main a{
        font-size: 12px;
        padding-top: 30px;
    }

    main img{
        display: block;
        margin: 20px auto;
        width: 200px;
        height: 120px;
    }

    h2{
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .presentacion{
        margin-top: 100px;
    }

    iframe{
        width: 250px;
        height: 150px;
    }

    .final{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .redes img{
        width: 30px;
        height: 30px;
    }

    .direccion{
        font-size: 15px;
    }

    label{
        margin-left: 10px;
    }

    .completar{
        width: 150px;
    }
    
    textarea{
        width: 230px;
        height: 150px;
        text-align: start;
        margin-left: 10px;
        padding-left: 15px;
    }    
}