header{
    grid-area: header;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    background: $color-header;

    .nombreSitio{
        margin-left: 20px;
        margin-right: 40px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 25px;

        a{    
            text-align: center;
            text-decoration: none;
            margin-bottom: 20px;
            font-size: 65px;
            color: rgb(44, 72, 200);
            font-family: $fuente-principal;
            font-weight: bold;
        }
    }

    .navbar-custom{
        background: $color-header;

        .elementos{
            display: flex;
        
            .navbar-toggler{
                margin-bottom: 10px;
            }

            .collapse.navbar-collapse{
                .menu{
                    list-style: map-get($map: $menu, $key: estilo-lista);
                    display: map-get($map: $menu, $key: estructura);
                    justify-content: map-get($map: $menu, $key: justificacion);padding-left: map-get($map: $menu, $key: padd-left);
                    padding-top: 15px;
                    padding-bottom: 5px;

                    li{
                        &:hover{
                            .subMenu{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                        }

                        .subMenu{
                            list-style: map-get($map: $menu, $key: estilo-lista);
                            display: map-get($map: $menu, $key: estructura);
                            flex-direction: map-get($map: $menu, $key: direccion);
                            align-items: map-get($map: $menu, $key: alineacion);
                            position: map-get($map: $menu, $key: posicion);
                            padding-left: map-get($map: $menu, $key: padd-left);
                            padding-top: 5px;
                            background-color: $color-texto;
                            border-radius: 7px;
                            display: none;

                            li{
                                margin-bottom: 5px;

                                a{
                                    @extend %botones;
                                    @include botones(9px 17px, #343492, 18px);
                                }

                                &:hover{
                                    a{
                                        background-color: #2159c2;
                                        transition: 0.3s;
                                    }
                                }
                            }                            
                        }
                    }

                    >li{
                        >a{
                            @extend %botones;
                            @include botones(10px, #4f4fd6, 15px);
                            background-color: black;
                            display: block;
                            margin-right: 20px;
                            text-transform: uppercase;
                        }

                        &:hover{
                        >a{
                        background-color: #012d7e;
                        transition: 0.3s;
                        }
                    }
                    }
                }
            }
        }
    }
}
