$menu: ( // mapa para menu y submenu del nav //
    estilo-lista: none,
    estructura: flex,
    direccion: column,
    justificacion: space-between,
    alineacion: center,
    posicion: absolute,
    padd-left: 0,
)