main{
    .marcas{
        .row{
            a{
                text-decoration: none;
                color: $color-texto;
                font-weight: bold;
                font-style: italic;
                display: block;
                text-align: center;
                font-size: 25px; 
                padding-top: 50px;
                font-family:$fuente-principal;

                &:hover{
                transform: scale(1.1);
                transition: 0.2s;
                }
            }

            .marca{
                width: 400px;
                height: 400px;
            }
        }
    } 

    .presentacion{
        margin-top: 150px;
    }

    iframe{
        display: block;
        margin: 0px auto;
        width: 600px;
        height: 360px;
    }

    .redes{
        margin-top: 100px;
        display: flex;
        justify-content: center;

        a{
            img{
                margin-top: 40px;
                width: 50px;
                height: 50px;
            }

            .facebook{
                margin-left: 30px;
            }

            &:hover{
            transform: scale(1.1);
            transition: 0.2s;
            }
        }
    } 
}